:root{
    --primary-color: white;
    --secondary-color: black;
}

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--primary-color);
}

button{
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    font-weight: 125;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:focus{
    outline: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

.darkmode {
    --primary-color: #1c1c1c;
    --secondary-color: black;
}